

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   a, a:hover { color:#fff; }
nav { float: right!important; }
.headshot { 
-webkit-clip-path: circle(43.6% at 50% 50%);
clip-path: circle(43.6% at 50% 50%);
}
#about span { margin-right: 30px; padding-bottom: 30px; }
#about h2 { margin-bottom: 20px; font-family: 'Roboto Slab', serif;}
#about p { margin:20px 0; }
/* SKILLS PROGRESS BARS */
progress, progress[role] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-size: auto;
  height: 50px;
  width: 100%;
}

/* The unordered list */
.skill-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* The list item */
.skill {
  margin-bottom: 1em;
  position: relative;
}

.skill::-webkit-progress-value { 
    -webkit-animation: bar-fill 2s;
    width: 0px;
  }

.skill h3 {
    color: #fff;
    left: 1em;
    line-height: 1;
    position: absolute;
    top: 0;
    margin: 12px 0 14px 0;
    font-family: 'Roboto Slab', serif;
 }

/* Style the bar colors */
.skill-1::-webkit-progress-value {
  background: #ff6633;
}

.skill-1::-moz-progress-bar {
  background: #ff6633;
}

.skill-2::-moz-progress-bar {
  background: #3366cc;
}

.skill-2::-webkit-progress-value {
  background: #3366cc;
}

.skill-3::-webkit-progress-value {
  background: #cc6699;
}

.skill-3::-moz-progress-bar {
  background: #cc6699;
}

.skill-4::-webkit-progress-value {
  background: #cccc00;
}

.skill-4::-moz-progress-bar {
  background: #cccc00;
}


.skill-5::-webkit-progress-value {
  background: #ffcc00;
}

.skill-5::-moz-progress-bar {
  background: #ffcc00;
}

.skill-6::-webkit-progress-value {
  background: #ff6666;
}

.skill-6::-moz-progress-bar {
  background: #ff6666;
}



/* Animation Keyframes*/
@-webkit-keyframes bar-fill {
  0% { width: 0; }
}

@keyframes bar-fill {
  0% { width: 0; }
}

.jumbotron { display: flex; align-items: center; }

#about { 
  padding: 50px 0px 50px 0px; 
  min-height:75vh;
  background-color: #1b1b1b;
  color: #fff;
}

#about h2 { font-weight: bold; }

#what-i-do {
  min-height:50vh;
  padding: 50px 0;
  background-image: url('../img/hawthorne.jpg');
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
}

#what-i-do h3 {  font-family: 'Roboto Slab', serif; font-weight: bold; }


#experience { 
  background-color: #eee; 
  min-height: 50vh; 
  padding: 50px 0; 
}

#experience h2 { font-weight: bold; }
#work {
  min-height:50vh;
  padding: 50px 0;
  padding: 50px 0;
  background-image: url('../img/abstract-astronomy-constellation-1025469.jpg');
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  
}

#work h2 { color: #fff;font-weight: bold; }
#experience h2, #work h2 { 
  font-family: 'Roboto Slab', serif;
  text-align: center;
  margin: 0 0 30px 0;
}

.job .name-duration { 
  display: flex; 
  -webkit-box-pack: justify; 
  -ms-flex-pack: justify; 
  justify-content: space-between; 
}
.job .position { margin-bottom: 20px; }
.job .job-time { font-weight: bold; }
.job h4 { margin-top:0;margin-bottom:0; text-transform: uppercase; font-weight:bold; font-family: 'Roboto Slab', serif;}
#resume { height: 15vh; background-color:#ddd; padding: 30px 0; display: flex; align-items: center;
  justify-content: center;}
#resume h2 { text-align: center; font-family: 'Roboto Slab', serif; font-weight: bold;}
#resume h2 a { color:#000; }
#resume h2 a:hover { text-decoration: none; }
#work { min-height:100vh; background-color:#fff;  }
#contact { min-height:75vh; background-color: #fff; padding: 50px 0; text-align: center;}
#contact h2 {  font-family: 'Roboto Slab', serif; font-weight: bold;}
#contact h3 { font-size: 24px; font-family: 'Roboto Slab', serif;}
footer { background-color:#333; background-image: url('../img/bfr.png'); height:25vh; color: #fff; font-family: 'Roboto Slab', serif; padding-top:20px;}
#contact label { display: block; }
#contact ol { padding-left:0px; }


@media all and (max-width:480px){
  .job .name-duration { display: block; }
  #kayakoModal a.btn { display: block; margin-bottom: 10px; }
}





