/********************************/
/*			HEADER 				*/
/********************************/

.navbar {  
	background-color: $white; 
	padding-top: 0px;

	.container-fluid { 
		padding-left: 0px; 
		padding-right: 0px; 
		max-width: 600px; 

		@media all and (min-width: $tablet-up) {
			max-width: 1170px;
		    width: 100%;
		    padding-left: var(--bs-gutter-x,.75rem);
		    padding-right: var(--bs-gutter-x,.75rem);
		}
		@media all and (min-width:$tablet-landscape-up){ max-width: 1140px; padding-left: 0px; }
		@media all and (min-width: $laptop) { max-width: 1170px; padding-left: 0px;}
		@media all and (min-width: $monitor){ max-width: 1399px; }
	}
	

	.navbar-brand { 
		margin-right: 15px; 
		margin-top: 15px;

		@media all and (min-width: $tablet-landscape-up) { margin-left: 20px; }

		@media all and (min-width: $laptop){ margin-left: 0px; }
	}

	&.navbar-light {
		.navbar-toggler { 
			margin-left: 15px!important; 
			margin-top: 15px;

			@media all and (min-width:$mobile-landscape-up){
				margin-left: 0px;
			}

			@media all and (min-width: $tablet-up) {
				margin-left: 15px;
			}

			@media all and (min-width: $tablet-landscape-up) {
				margin-left: 0px;
			}
		}
	}

	.navbar-collapse {  
		.navbar-nav { 
			padding-left: 20px; 
			margin-top: 5px;

			a.nav-link { 
				font-size: 16px; 
				font-weight: 900; 
				text-decoration: none; 
				color: $purple; 
				margin-right: 30px; 

				&::hover, &.active { color:$orange!important; } 
			}

		}
	} 

	.phone-cta-mobile {
		text-align: center;
      	color: $white;
      	padding: 10px;
      	background: rgb(246,121,90);
      	background: radial-gradient(circle, rgba(246,121,90,1) 1%, rgba(248,90,90,1) 100%);
      	width: 100%;
      	font-family: $body-font;
      	font-size: 14px;

      	@media all and (min-width:$tablet-landscape-up){
      		display: none;
      	}
	}

    .phone-cta {
      text-align: center;
      color: $white;
      padding: 10px;
      border-radius: 8px;
      background: rgb(246,121,90);
      background: radial-gradient(circle, rgba(246,121,90,1) 1%, rgba(248,90,90,1) 100%);
      margin-right: 15px;
      display: none;
      
      @media all and (max-width: $android){ margin-right: 5px; padding: 5px; }
      @media all and (min-width: $mobile-landscape-up) { margin-right: 0px; }
      @media all and (min-width: $tablet-up) {  margin-right: 15px; margin-top: 15px; padding: 10px 20px }
      @media all and (min-width: $tablet-landscape-up) { margin-right: 10px; display: block; }
      @media all and (min-width: $laptop) { margin-right: 20px; }
      @media all and (min-width: $monitor){ margin-right: 55px; }

      
      h3 { color: #fff; font-size: 18px; font-family:  $header-font; font-weight: 500; margin-bottom: 0;}
	  p { font-size: 12px; font-weight: 600; font-family: $header-font; margin-bottom: 5px; }
    }
}

    

    
