/********************************/
/*   LAYOUT & UTILITY STYLES    */
/********************************/
  html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }

  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  } 

  textarea {
    resize: vertical;
  }

  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  .clearfix::before,
  .clearfix::after {
    content: " ";
    display: table;
  }

  .clearfix::after {
    clear: both;
  }

  .container-fluid { 
  	max-width: 1170px; 

  	@media all and (min-width: $laptop) { max-width: 1199px; }
  	@media all and (min-width: $monitor){ max-width: 1399px; }

  }

  .back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
  }
  

  .row {  
  	margin-bottom: 40px; 
  	--bs-gutter-x:0; 
  	width: 100%; 
  }

  main { 
  	min-height: 1200px; 
  	padding-top: 40%;

  	@media all and (min-width:$mobile-up){
  		padding-top: 120px;
  	} 

  }

  @media all and (min-width: $tablet-up) {
  	.col-md-6 { width: 47%; }
  }

