
$header-font: 'Noto Sans', sans-serif;
$body-font: 'Open Sans', sans-serif;


$orange: #f8595a;
$purple: #2d345c;
$black: #000;
$teal: #717f90;
$gray: #ccc;
$white: #fff;


$mobile-up: 480px;
$mobile-landscape-up: 600px;
$tablet-up: 768px;
$tablet-landscape-up: 992px;
$laptop: 1200px;
$monitor: 1400px;

